@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.overlay-bg {
  background: rgb(11,11,11);
background: linear-gradient(90deg, rgba(11,11,11,0.7819025522041764) 21%, rgba(16,16,17,0.5406032482598608) 100%);
}